
@{
    ViewBag.Title = "Active";
}

<p>Single Page Application Experience.</p>

<div>
    <form id="finish-workout" method="post" action="~/workout/finishworkout">
        <input id="finish-button" type="submit" value="Finish!" />
    </form>
</div>
