
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>
    <form id="startWorkout" method="post" action="~/workout/start">
        <input name="title" type="text" />
        <input type="submit" value="Start Workout" />
    </form>
</div>
