
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<form id="addSetForm" method="post">
    <input name="reps" type="text" />
    <input name="weight" type="text" />
    <input type="submit" value="Add Set" />
    <input type="submit" value="End Workout" />
</form>
